.App {
  /* text-align: center; */
  margin-left: 20px;
  padding: 5px;
}
.head {
  display: flex;
}
.HeadAndRefresh {
  display: flex;
}
.refresh-btn {
  margin-top: 19px;
  margin-left: 10px;
  height: 25px;
  width: 25px;
}
.cards {
  display: flex;
}
.card {
  width: 300px;
  border: 5px groove #1c6ea4;
  padding: 15px;
  position: relative;
}
.del-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
